<div id="archive">
    <% if @note.archive %>
    <div class='text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2'>
        <%= link_to t('.activate'), archive_path(note.id), data: {
            turbo_method: :delete
        } %>
    </div>
    <% else %>
    <div class='text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2'>
        <%= link_to t('.archive'), archives_path(note_id: note.id), data: {
            turbo_method: :post
        } %>
    </div>

    <% end %>
</div>